.env
.env.local
.env.development.local
.bundle
*.dump
*.rdb
log/*
tmp/*
tmp/**/*
vendor/bundle/*
!tmp/.gitkeep
db/schema.rb
db/structure.sql
db/mongo/backups
config/environments/development.override.rb
public/system
.DS_Store
**/.DS_Store
.sass-cache/
public/assets
.listen_test
profiles/
Procfile.dev
.vscode
config/development_database.yml

spec/wip.txt
*.swp

coverage
spec/examples.txt

.default_work_request_form_id

.idea
/nbproject/private/
/nbproject/*
/nbproject
*.sublime-workspace
*.tm_properties
/TAGS

.rvmrc
.rvmrc*
.ruby-gemset*
.ruby-version.*

.ackrc

.github_token

.byebug_history

# Files for terraform and dev staging
.terraform/
lib/tasks/terraform/plans/override.tf.json
terraform.tfstate
terraform.tfstate.backup
puma.state

# Webpacker Files
/public/packs
/public/packs-test
/node_modules

# Docker
/docker/postgresql/
.docker-sync/
docker-compose.override.yml

# Dev SSL Certificate
localhost-jobber.crt
localhost-jobber.key
